{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}



  <div class="carrer3-content-ssdc">
    <div class="container-fluid">
      {% include "VisaPage/Base/navbar.html" %}
  </div>
  {% include "VisaPage/Base/sidenavbar.html" %}

  {% endblock main-body-content %}

  {% block main-content  %}

    <!--/////////////////////////////////////landing page ssdc/////////////////////////////////////////-->

   <div class="blogs1-landing-page">
    <div class="owl-slider">
      <div class="row">
      <div id="carousel3" class="owl-carousel owl " style=" width: 100%;">
          <div class="col-lg-4" style="width: 100%;">
            <div class="container-fluid">
              <div class="row">
                <!-- First Column -->
                <div class="col-md-6">
                  <div class="latest-img-min">
                      <img
                        src="{% static "visa/images/Frame 1000009802.png" %}"
                        alt=""
                        class="latest-update-image"
                      />
                     
                    </div>
                </div>
            
                <!-- Second Column -->
                <div class="col-md-6" style="margin-top: 12px;">
                 <div class="latest-update-content1">
                  <div class="latest-update-content11">
                      <h3 class="workpermit-button">Work Permit</h3>
                      <div class="work-permit-date">7 FEBRUARY, 2023</div>
                      
                  </div>
                  <div class="latest-update-content12">
                      <p class="visa-service1">Top 5 Asian countries for Finance Professionals: Comparison of Salaries, Taxes, & Cost of living.</p>
                      <div class="privacy-values">Crafting your unique journey to global opportunities. Crafting your unique journey to global opportunities.Crafting your unique journey to global opportunities.Crafting your unique journey to global opportunities.</div>

                  </div>
                 

                 </div>
                </div>
              </div>
            </div>
          </div>


      </div>
  </div>
  </div>

   </div>

   <div class="blogs-options">

    <button class="blogs-options-name">Editors Pick</button>
    <button class="blogs-options-name">Latest News</button>
    <button class="blogs-options-name">Immigration</button>
    <button class="blogs-options-name">Work Permit</button>
    <button class="blogs-options-name">Study Visa</button>
    <button class="blogs-options-name">Invest</button>

   </div>
  </div>

<div class="latestupdate container">
    <div class="latest-updateheading">Latest Updates</div>

    <div class="latest-update-option">
      <!-- <div class="latest-update-option1">

  </div> -->
      <div class="latest-update-option1">
        <div class="row">
          <div class="col-md-4">
            <a href="{% url "blog_details" %}">
                <div class="grid-update-1">
                    <div class="latest-img-min">
                      <img
                        src="{% static "visa/images/image 16.png" %}"
                        alt=""
                        class="latest-update-image"
                      />
                      <div class="min-read">
                        <div class="minread-value1">
                          <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                          <div class="min-read content">4 MIN READ</div>
                        </div>
                      </div>
                    </div>
      
                    <div class="work-permit-offer">
                      <div class="work-permit-button">Work Permit</div>
                      <div class="textile-work">
                        Hungary Offers Textile Work Visa
                      </div>
                    </div>
                  </div>
            </a>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="margin-bottom: 28px ">
            <div class="grid-update-1">
              <div class="latest-img-min">
                <img
                  src="{% static "visa/images/image 16.png" %}"
                  alt=""
                  class="latest-update-image"
                />
                <div class="min-read">
                  <div class="minread-value">
                    <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                    <div class="min-read content">4 MIN READ</div>
                  </div>
                </div>
              </div>

              <div class="work-permit-offer">
                <div class="work-permit-button">Work Permit</div>
                <div class="textile-work">
                  Hungary Offers Textile Work Visa
                </div>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </div>

    <button class="latest-option-button">Load More</button>
  </div>

{% endblock main-content %}